<div class="all">
	<div class="lefter" routerLink="/CI">
		<div class="text">Waiting For Interview</div>
	  </div>
	<div class="left" routerLink="/CA">
	  <div class="text">Waiting For HR Confirmation</div>
	</div>
	<div class="center" routerLink="/CL">
	  <div class="explainer" ><span>Candidates</span></div>
	  <div class="text">Candidates List</div>
	</div>
	<div class="right" routerLink="/CR">
	  <div class="text">Candidates Rejected</div>
	</div>
	<div class="righter" routerLink="/CRec">
		<div class="text">Candidates Recruited</div>
	  </div>
</div>

