
<div class="all">
    <div class="lefter" routerLink="/AddManC">
      <div class="text">Add new manager</div>
    </div>
    <div class="left" routerLink="/DeleteManC">
      <div class="text">Delete manager</div>
    </div>
    <div class="center" >
      <div class="explainer"><span>Managers</span></div>
      
      </div>
    <div class="right" routerLink="/UpdateManC">
      <div class="text">Update managers</div>
    </div>
    <div class="righter" routerLink="/DisplayManC">
      <div class="text">Display Managers</div>
    </div>
    </div>

    <div class="all">
        <div class="lefter" routerLink="/AddHRC">
          <div class="text">Add Recruiter</div>
        </div>
        <div class="left" routerLink="/DeleteHRC">
          <div class="text">Delete Recruiter</div>
        </div>
        <div class="center">
          <div class="explainer" ><span>Recruiters</span></div>
          
          </div>
        <div class="right" routerLink="/UpdateHRC">
          <div class="text">Update Recruiter</div>
        </div>
        <div class="righter" routerLink="/DisplayHRC">
          <div class="text">Display Recruiter</div>
        </div>
        </div>


