.container{
    border-radius: 15px;
    background: rgb(251, 242, 255);

}
#date{
    border-radius: 15px;
    margin-left: 100px;
    position: relative;
    display: inline-flex;
    width: fit-content;
    padding: 15px;
    background: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 20px;
    
}