<div class="filter">
	<div class="f">
		<label for="" id="a">Skill :</label>
	<input type="text" name="" id="a" [(ngModel)]="skill">
	<label for="" id="a">Field :</label>
	<select name="" id="a" [(ngModel)]="field" >
		<option selected >All</option>
		<option  >Business</option>
		<option >IT</option>
		
	</select>
	
	
</div>
<button id="search" (click)="search()">Search</button>
</div>

<div class="container">

	
	<table >
		
		<thead>
			<tr>
                <th>ID</th>
				<th>Email</th>
				<th>Phone</th>
                <th>Skills</th>
                <th>Field</th>
				<th>Action</th>
                
				
				
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let c of Candidates"  >
			
                <td>{{c.id}}</td>
				<td>{{c.email}}</td>
				<td>{{c.phone}}</td>
                <td>{{c.skills}}</td>
				<td>{{c.field}}</td>
				<td id="a">
					
					<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
						<mat-icon>more_vert</mat-icon>
					  </button>
					  <mat-menu #menu="matMenu" class="actions" id="menu">
                    <button (click)="recruit(c)">Ask for interview</button> 
                    <button (click)="reject(c)">Reject</button>
                    <button (click)="getCV(c.cv)">Show CV</button>
				</mat-menu>
                </td>
			
			</tr>
			
		</tbody>
	</table>
	
	<div id="viewer">
	</div>
</div>

