#state,#state1,#state2{
	position: absolute;
	top: 20px;
	right: 20px;
	
}
#Home{
position: absolute;
top: 20px;
left: 20px;
}
.button-home{
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 15px 25px;
	border-radius: 26px;
	border: 4px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4c489d00;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
	background: url("^assets/images/home.png") center no-repeat ;
	background-size: cover;
	
}
.button-logout {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 4px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
	&:hover {
		background-color: rgba(255, 255, 255, 0.308);
		box-shadow: 2px 4px 6px #0000ff;
		color: rgb(53, 29, 111);
	}
}