body {
    font-family: 'Raleway', sans-serif;
    background-image: radial-gradient(circle at center, #aa497b, #495D84);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at bottom, #213144, #213144);
    font-weight: 300;
    color: aliceblue;
    
  }