body {
    font-family: 'Raleway', sans-serif;
    background-image: radial-gradient(circle at center, #aa497b, #495D84);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #f4efff;
    font-weight: 300;
    color: aliceblue;
    
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
